{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     This is the Cart page proceed with your orders.........
{% endblock %}
{% block title %}
    CART - E_KART PVT LTD;
{% endblock %}
{% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your Cart is Empty..
        </h1>
        <br>
        <p class="text-center">
            Please Click <a href="{% url 'ekart:allProdCat' %}">here</a> to continue Shopping..
        </p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your Shopping Cart..
        </h1>
        <br>
    </div>
    <div class="row mx-auto">
        <div class="col-6 col-cm-12 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thead class="my_custom_thead">
                <tr>
                    <th colspan="5">
                        Cart Items
                    </th>

                </tr>
                </thead>
                <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    <td>
                        <a href="{{cart_item.product.get_absolute_url}}"><img src="{{cart_item.product.image.url}}" style="width:100px;height:100px" alt="" class="float-left rounded custom-image"></a>
                    </td>
                    <td class="text-left">
                        {{cart_item.product.name}}
                        <br>
                        SKU: {{cart_item.product.id}}
                        <br>
                        Price: {{cart_item.product.price}}
                        <br>
                        QTY: {{cart_item.quantity}} x ₹ {{cart_item.product.price}}
                    </td>

                    <td style="color:blue">
                        <b>₹ {{cart_item.sub_total}}</b>
                    </td>
                    {% if cart_item.quantity < cart_item.product.stock %}
                    <td>
                        <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a"><i class="fa-solid fa-circle-plus"></i></a>
                        &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fa-solid fa-circle-minus"></i></a>
                        &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                    {% else %}
                    <td>
                        &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fa-solid fa-circle-minus"></i></a>
                        &nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="col-6 col-sm-12 col-md-12 col-lg-6 text-center ">
        <table class="table my_custom_table table-right">
            <thead class="my_custom_thead">
            <tr>
                <th>
                    CHECKOUT..
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <h6>Please review your order before checkout</h6>
                </td>
            </tr>
            <tr>
                <td class="text-left text-center">
                    Your Total is : <strong>{{total}}</strong>
                            <div class="mx-auto">
                                <a href="{% url 'ekart:allProdCat' %}" class="btn btn-success btn-block my_custom_button">Make Payment</a>
                                <a href="{% url 'ekart:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue Shopping</a>
                            </div>

                </td>
            </tr>
            </tbody>
        </table>

<!--        <div class="mx-auto">-->
<!--            <a href="{% url 'ekart:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue Shopping</a>-->

<!--        </div>-->
    </div>
   </div>
</div>
{% endif %}
{% endblock %}