{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     Everything you are looking for is here.........
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">You have searched for: <b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
     {% for product in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-12 col-md-4 col-lg-4">
        <div class="card text-center" style="min-width:18rem;">
        <a href="{{product.get_url}}" ><img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}" width="300px" height="270"></a>
        </div>
        <div class="card-body" style="background-color:beige">
        <h2 class="my_title">{{product.name}}</h2>
        <p class="text-justify">₹ {{product.price}}/KG</p>
        </div>
        </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text"> No result found for: <b>"{{query}}" </p>
        </div>
     {% endfor %}
     </div>
</div>
{% endblock %}